{% extends 'main/base.html' %}

{% block title %}
About us
{% endblock %}

{% block content %}
<h1 class='alert alert-success mt-2'>About us</h1>
<div>
    <ul class='alert alert-warning mt-2'>
        <li><b>Name</b>: Shevchenko Ihor</li>
        <li><b>Adress:</b> Lviv region, Zhovkva district, Dublyany, street Kotsyubynskoho, 2/2 </li>
        <li><b>Emails:</b> ihor110986@gmail, igor-11@ukr.net</li>
        <li><a href="https://github.com/Igor-11"><b>GitHub</b></a></li>
        <li><a href="https://www.linkedin.com/in/ihor-shevchenko-951740185/"><b>Linkedin</b></a></li>
        <li><b>Phone:</b> +38096-95-66-459, +38063-73-16-712</li>
        <li><b>Skype:</b> live:.cid.eb1dd7fc2c8a223b</li>
    </ul>
</div>
{% endblock %}